<p style="color: green"><%= notice %></p>

<div class="container">
  <div>
    <h2 class="title"><%= link_to @recipe.name, recipe_path(@recipe) %></h2> 
    <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
    <%= link_to "Back to recipes", recipes_path %> |
    <%= link_to "Destroy this recipe", recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  
  <br>

  <div class="details">
    <p>Preparation time: <%= @recipe.preparation_time %></p>
    <p>Cooking time: <%= @recipe.cooking_time %></p>
    <p><%= 'Steps go here...' %></p>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-end mb-3">
    <%= link_to "Add Food", new_recipe_food_path(@recipe), class: "btn btn-primary" %>
  </div>

  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Food</th>
        <th>Measurement Unit</th>
        <th>Unit Price</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @recipe.foods.each do |food| %>
        <tr>
          <td><%= food.name %></td>
          <td><%= food.measurement_unit %></td>
          <td><%= food.price %></td>
          <td>
            <%= link_to "Show food", food %>
          </td>
          <td>
            <%= link_to "Edit food", edit_recipe_food_path(food) %>
          </td>
          <td>
            <%= link_to "Delete food", recipe_food_path(@recipe, food), method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to "Remove from Cart", recipe_shopping_cart_path(@recipe, food_id: food.id), method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= form_with(model: [@recipe, Food.new], url: recipe_foods_path(@recipe), method: :post, remote: true) do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    
    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :measurement_unit %>
    <%= form.text_field :measurement_unit %>

    <%= form.label :price %>
    <%= form.number_field :price %>

    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
    <%= form.submit "Add an ingredient" %>
  <% end %>
</div>
