<div id="<%= dom_id food %>">
  <li class="container-food">
      <h2 class="title"><%=food.name %></h2>
        <p><%= food.measurement_unit %></p>
        <p><%= food.price %></p>
        <p><%= link_to "Action", food_path(food) %></p>
  </li>
</div>
